
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Display All People</title>
    <link rel='stylesheet' type='text/css' media='screen' href='stylesheets/style.css'>

</head>
<body>
    <header> 
      <h1>DATABASE PEOPLE </h1>
    </header>

  <nav>
    <ul class="topnav">
      <li><a href="/index.html"><i class="fa fa-fw fa-home"></i>Home</a></li>
      <li><a href="/add.html">Add</a></li>
      <li><a href="/modify.html">Modify</a></li>
      <li><a href="/delete.html">Delete</a></li>
      <li><a href="/search.html">Search</a></li>
      <li>
        <form action="/getallpeople" method="get">
          <button>Display</button>
        </form>
      </li>
      <li class="right"><a href="/help.html">Help</a></li>
    </ul>
  </nav>
  
  <div class="tb1">
    
    <h4> All people in database...</h4>
    <p> <u> Note: table is null, if there are not any people.</u></p>

      <table>
        <tr class="col">
        <th>Name </th>
        <th>Character</th>
        <th>Size</th>
        <th>Height</th>
        <th>Age</th>
        <th>Type</th>
        <th>Hometown</th>
        <th>Finisher move</th>
        <th> Gender</th>
        </tr>
        <% rows.forEach(function(r) { %>
          <tr>
            <td> <a href="/<%=r.uname%> "><%= r.uname %></a> </td>
            <td> <%= r.character %> %></td>
            <td> <%= r.size %></td>
            <td> <%= r.height %></td>
            <td> <%= r.age %></td>
            <td> <%= r.type %></td>
            <td> <%= r.birthplace %></td>
            <td><%= r.fmove %></td>
            <td><%= r.gender %></td>
          </tr>

        <% }); %>
      </table>
      
      <h4> .....End</h4>
    </div>
    
</body>
</html>
